<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./css/error.css">
</head>
<body>
<div>
  <h1>uh-oh!</h1>
  <h1>404!</h1>
  <h3><span th:text="${error_reason}"></span></h3>
  <p>The page you are looking for doesn't exist or another error occurred.<br>
    <a th:href="${go_url}">Go back</a>
    , or head over to "Parallel Smile Inertia Team" to choose a new direction.
  </p>
  <a href="/login">
    <button class="btn btn-primary">Go Back to Home</button>
  </a>
</div>
<img src="./img/smth-went-wrong-img.png" alt="smth went wrong image missing...">
</body>
</html>