<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./css/error.css">
</head>
<body>
<div>
  <h1>uh-oh!</h1>
  <h1>401!</h1>
  <p>The request requires user authentication. Password and confirm password does not match!<br>
    <a href="/login">Go back</a>
    , or head over to "Parallel Smile Inertia Team" to choose a new direction.
  </p>
  <a href="/login">
    <button class="btn btn-primary">Go Back to Home</button>
  </a>
</div>
<img src="./img/smth-went-wrong-img.png" alt="smth went wrong image missing...">
</body>
</html>