<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exchange: Landing</title>
  <link rel="stylesheet" href="./css/user-profile.css">
  <link rel="stylesheet" href="./css/short-url.css">
  <link rel="stylesheet" href="./css/bootstrap.css" type="text/css">
</head>

<body>
<form method="post">
  <header class="main-header">
    <a href="./login" class="main-header-logo"><img src="./img/iba-tech-logo-white.svg"
                                                    alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
      <div class="main-header-profile-wrapper">
        <div class="main-header-profile-credentials">
          <span class="main-header-username" th:text="${username}"></span>
          <div class="log-out-block">
            <img src="./img/log-out-icon.svg" alt="Log out">
            <button name="logout" value="logout" style="background: none; border: none;">
              <span class="log-out-block"><a th:href="@{/logout}">Log out</a></span>
            </button>
          </div>
        </div>
        <img class="main-header-user-icon" src="./img/user-icon-with-background.svg" alt="User Icon">
      </div>
    </div>
  </header>
  <main class="short-url-container">
    <div class="short-url-content">
      <h2 class="short-url-title">Hello, <span th:text="${username}"></span></h2>
      <button class="short-url-btn" name="get_started" value="get_started" type="submit"><a href="/authorized">Get Started</a></button>
    </div>
    <div>
      <img src="./img/landing-background.svg" class="short-url-img" alt="landing-background">
    </div>
  </main>
</form>
</body>

</html>