<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/registration.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>

<body>
<div class="container-fluid">
  <div class="page-container">
    <header class="header">
      <a href="./login" class="header-link"><img src="./img/iba-logo-sky-blue.svg" alt="IBA Tech Academy"></a>
    </header>
    <section class="registration-section">
      <img class="registration-section-image" src="./img/login-image.svg" alt="404">
      <div class="registration-section-container">
        <h1 class="registration-section-container-title">Create An Account</h1>
        <p class="registration-section-container-description">Create your account, it takes less than a minute. If
          you already have an account - <a href="./login"
                                           class="registration-section-container-description-link">login</a></p>
        <form class="registration-section-container-form" method="post">
          <div class="registration-section-container-form-input-wrapper">
            <img src="./img/user-icon.svg" alt="User Icon">
            <label for="full-name"></label>
            <input name="full_name" class="registration-section-container-form-input" id="full-name"
                   placeholder="Full name" type="text" required>
          </div>
          <div class="registration-section-container-form-input-wrapper">
            <img src="./img/mail-icon.svg" alt="User Icon">
            <label for="email"></label>
            <input name="email" class="registration-section-container-form-input" id="email" placeholder="Email address"
                   type="email" required>
          </div>
          <div class="registration-section-container-form-input-wrapper">
            <img src="./img/lock-icon.svg" alt="User Icon">
            <label for="password"></label>
            <input name="password" class="registration-section-container-form-input" id="password"
                   placeholder="Password"
                   type="password" required>
          </div>
          <div class="registration-section-container-form-input-wrapper mb0">
            <img src="./img/lock-icon.svg" alt="User Icon">
            <label for="confirm-password"></label>
            <input name="confirmPassword" class="registration-section-container-form-input" id="confirm-password"
                   placeholder="Confirm Password" type="password" required>
          </div>
          <button type="submit" name="btnRegister" value="register" class="registration-section-container-form-submit">
            Create
            account
          </button>
        </form>
      </div>
    </section>
  </div>
</div>
</body>
</html>