<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="./css/user-history.css">
  <link rel="stylesheet" type="text/css" href="./css/rates.css">

</head>
<body>
<table style="width:100%">
  <thead>
  <tr>
    <th>User-id</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Amount</th>
    <th>Rate</th>
    <th>Date-from</th>
    <th>Date-to</th>
    <th>Operation-Date</th>
    <th>Currency-From</th>
    <th>Currency-To</th>
  </tr>
  </thead>
  <tbody>
  <!--  <tr th:each="history : ${histories}">-->
  <!--    <td th:text="${history.getU_id()}"></td>-->
  <!--    <td th:text="${history.getU_full_name()}"></td>-->
  <!--    <td th:text="${history.getU_email()}"></td>-->
  <!--    <td th:text="${history.getAmount()}"></td>-->
  <!--    <td th:text="${history.getRate()}"></td>-->
  <!--    <td th:text="${history.getDate_from()}"></td>-->
  <!--    <td th:text="${history.getDate_to()}"></td>-->
  <!--    <td th:text="${history.getOperation_date()}"></td>-->
  <!--    <td th:text="${history.getFrom_info()}"></td>-->
  <!--    <td th:text="${history.getTo_info()}"></td>-->
  <!--  </tr>-->
  <tr th:each="history : ${histories}">
    <td th:text="${history.h_id}"></td>
    <td th:text="${history.u_full_name}"></td>
    <td th:text="${history.u_email}"></td>
    <td th:text="${history.amount}"></td>
    <td th:text="${history.rate}"></td>
    <td th:text="${history.date_from}"></td>
    <td th:text="${history.date_to}"></td>
    <td th:text="${history.operation_date}"></td>
    <td th:text="${history.from_info}"></td>
    <td th:text="${history.to_info}"></td>
  </tr>
  </tbody>
</table>
<div style="padding-left: 500px">
  <form method="post">
    <button type="submit" name="go_back" value="go_back"
            class="reset-section-container-form-login">Go my account
    </button>
  </form>
</div>
</body>
</html>